

body {
    background-color: #222;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}




#main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}



.style-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.style-btn:hover {
    background-color: #3e8842;
}



.style-btn:active {
    background-color: #3e8e41;
}
